/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url("../fonts/lato-v15-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
	padding: 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
	padding: 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* scrooll-bar */
::-webkit-scrollbar {
  display: none;
}


/* Header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 60;
}
.header_active {
  background: rgba(21, 24, 36, 0.6);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  margin-right: 82px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}
.header_burger{
	width: 40px;
	height: 28px;
	position: relative;
	display: none;
}
.burger_line{
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
}
.burger_line_first{
	top: 0;
}
.burger_line_second{
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.burger_line_third{
	bottom: 0;
}
/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh;
  background: url(../img/intro-bg-min.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #0e66da;
}

/* Intro styles end */

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}
.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/* Benefits styles end */

/*  Places style start  */
.places {
  margin-bottom: 133px;
}
.places_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}
.places__title {
  margin-right: 15px;
}
.places_view-all {
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
  padding-right: 59px;
}
.places_view-all:hover,
.places_view-all:focus {
  opacity: 0.65;
}
.places_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.places_card {
  position: relative;
  overflow: hidden;
}
.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.places_card:hover .places_card-pic {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.places_card-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places_card_size_lg {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.places_card_size_sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.places_card-pic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.15s all;
  -o-transition: 0.15s all;
  transition: 0.15s all;
}
.places_card-pic_size_lg {
  max-height: 354px;
}
.places_card-pic_size_sm {
  max-height: 283px;
}
.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/*  Places style end  */

/* tours style start */
.tours {
  margin-bottom: 139px;
}
.tours_tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 108px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 103px;
}
.tour_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}
.tour_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #102746;
  margin-bottom: 58px;
}
.tour_more {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
  padding-right: 59px;
}
.tour_more:hover,
.tour_more:focus {
  opacity: 0.65;
}
.tour_info {
  padding-left: 47px;
}
/* tours style end  */

/* top places styles start */

.top {
  margin-bottom: 86px;
}
.top_title {
  margin-bottom: 54px;
}
.top_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
	grid-row-gap: 57px;
}
.top_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	-ms-grid-column-span: 2;
	grid-column: span 2;
}
.top_card-pic {
  position: relative;
  margin-bottom: 45px;
}
.top_card_stats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* background: rgba(21, 24, 36, 0.6); */
}
.top_card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}
.top_card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/svg/hearth-ico.svg) no-repeat right;
  margin-right: 14px;
}
.top_card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
}
.top_card-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}
.top_card-more {
  width: 118px;
  padding: 12px 19px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
  background: #006dfe;
  margin: auto 0 0 0;
}
.top_card-more:hover,
.top_card-more:focus,
.top_card-more:active {
  background: #0e66da;
}

/* top places styles end */

/* videos styles start  */

.videos {
  width: 100%;
}
.videos_wrapper {
  max-width: 1400px;
  margin: 0 auto;
	position: relative;
}
.video_item{
	padding-top: 56.25%;
}
.video_element{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* videos styles end  */

/* footer styles start */

.footer{
	background: #0E1D28;
	padding: 119px 0;
}
.footer_item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer_logo{
	width: 50%;
}
.footer_nav{
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer_menu-title{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: white;
}
.footer_menu-link{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: white;
	text-decoration: none;
}
.footer_menu-link:hover,.footer_menu-link:active,.footer_menu-link:focus{
	opacity: 0.72;
}
/* footer styles end */

/*media start*/

@media screen and (max-width:960px){
	.benefits{
		margin-bottom: 75px;
	}
	.search-form__field{
		margin-bottom: 25px;
	}
	.benefits__cards{
		padding: 0 15px;
		grid-column-gap: 35px;
	}
	.benefits__card{
		margin-bottom: 60px;
	}
	.benefits__title{
		padding: 55px 15px;
	}
	.benefits__wrap{
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.places_card_size_lg{
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}
	.places_card_size_sm{
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}
	.tours_tour{
		grid-column-gap: 35px;
	}
	.tour_info{
		padding-left: 0;
	}
	.tour_title{
		margin-bottom: 15px;
	}
	.tour_desc{
		margin-bottom: 15px;
	}
	.top_cards{
		grid-column-gap: 25px;
		grid-row-gap: 55px;
	}
	.top_card{
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}
	.top_card-pic{
		margin-bottom: 25px;
	}
	.footer{
		padding: 60px 0;
	}
}

@media screen and (max-width:767px){
	.section-title{
		margin-bottom: 25px;
	}
	.section-title::after {
		width: 78px;
	}
	.header_burger{
		display: block;
	}
	.header__wrapper{
		padding-top: 28px;
	}
	.header__nav{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: black;
		z-index: 10;
		padding: 75px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
		-webkit-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}
	.header__nav_active{
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0);
	}
	.header__item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.header__item:last-child{
		margin-bottom: 0;
	}
	.header__link{
		font-size: 42px;
		line-height: 48px;
	}
	.header__nav-close{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 11;
	}
	.header__nav-close-line{
		display: block;
		width: 100%;
		height: 2px;
		background-color: white;
		position: absolute;
		top: 50%;
	}
	.header__nav-close-line:first-child{
		-webkit-transform:translateY(-50%) rotate(45deg);
		    -ms-transform:translateY(-50%) rotate(45deg);
		        transform:translateY(-50%) rotate(45deg);
	}
	.header__nav-close-line:last-child{
		-webkit-transform:translateY(-50%) rotate(-45deg);
		    -ms-transform:translateY(-50%) rotate(-45deg);
		        transform:translateY(-50%) rotate(-45deg);
	}
	.intro{
		padding-top: 100px;
	}
	.intro__title{
		font-size: 32px;
		line-height: 48px;
	}
	.intro__subtitle{
		font-size: 14px;
	}
	.search-form__field{
		width: 100%;
		margin-right: 0;
		padding-bottom: 12px;
		background: transparent url(../img/svg/circle-ico.svg) no-repeat left 2px;
	}
	.search-form__field::-webkit-input-placeholder{
		font-size: 16px;
	}
	.search-form__field::-moz-placeholder{
		font-size: 16px;
	}
	.search-form__field:-ms-input-placeholder{
		font-size: 16px;
	}
	.search-form__field::-ms-input-placeholder{
		font-size: 16px;
	}
	.search-form__field::placeholder{
		font-size: 16px;
	}
	.search-form__submit{
		width: 100%;
	}
	.benefits{
		margin-bottom: 36px;
	}
	.benefits__card{
		-ms-grid-column-span:3;
		grid-column:span 3;
		margin-bottom: 40px;
	}
	.benefits__card-pic{
		margin-bottom: 20px;
	}
	.benefits__card-title{
		margin-bottom: 12px;
	}
	.benefits__card-desc{
		margin-bottom: 20px;
	}
	.places{
		margin-bottom: 76px;
	}
	.places_card-pic_lg,.places_card-pic_sm{
		height: 230px;
	}
	.places_view-all{
		margin-bottom: 25px;
	}
	.places_caption{
		margin-bottom: 0;
	}
	.tour_pic,.tour_info{
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}
	.tour_pic{
		margin-bottom: 12px;
	}
	.tour_pic_mob-first{
		-ms-grid-row: -1;
		    grid-row-start: -1;
	}
	.tours_tour{
		margin-bottom: 50px;
	}
	.tours{
		margin-bottom: 76px;
	}
	.top_card{
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}
	.top_card_stats{
		max-width: 386px;
	}
	.top_card-desc{
		margin-bottom: 15px;
	}
	.top{
		margin-bottom: 76px;
	}
	.footer_logo{
		width: 100%;
		margin-bottom: 24px;
		margin-left: 55px;
	}
	.footer_nav{
		width: 100%;
	}
	.footer_menu{
		width: 50%;
		margin-bottom: 24px;
	}
}
@media screen and (max-width:500px){
	.header__nav{
		padding: 75px 30px;
	}
}

/*media end*/